.count {
  margin: auto;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background-color: #000000;
  transform: rotate(45deg);
  cursor: pointer;
  user-select: none;
}
